


<head>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<div class="container ourservices text-center">


<h1 class="hello">{{title}}</h1>
<p>{{description}}</p>
<div class="row rosetting">
    <div class="col-lg-3 col-md-3 col-sm-3 col-10 d-block m-auto">
    <div class="imgsetting d-block m-auto bg-warning">
        
        <i class="fas fa-transgender fa-4x text-white"></i>
    </div>
    <a href="" class="nav-link "  routerLink="./manufacturing" routerLinkActive="active">   Manufacturing   </a>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-10 d-block m-auto">
    <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-clipboard fa-4x text-white"></i>
    </div>
    <a href="" class="nav-link "  routerLink="./guidelines" routerLinkActive="active">   Guidelines   </a>
</div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-10 d-block m-auto">
        <div class="imgsetting d-block m-auto bg-warning">
            <i class=" fas fa-comments-dollar fa-4x text-white"></i>
        </div>
        <a href="" class="nav-link "  routerLink="./sale" routerLinkActive="active">   Sale/Purchase  </a>
    </div>

   
        <div class="col-lg-3 col-md-3 col-sm-3 col-10 d-block m-auto">
            <div class="imgsetting d-block m-auto bg-warning">
                <i class="fas fa-truck fa-4x text-white"></i>
            </div>
            <a href="" class="nav-link "  routerLink="./otherservice" routerLinkActive="active" >   Other Services  </a>
   </div>
    </div>
</div>
<router-outlet></router-outlet>

